<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repository.Properties.Settings.JSP_SQL_TASKConnectionString"
            connectionString="Data Source=DESKTOP-JLP38RO;Initial Catalog=JSP_SQL_TASK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>