USE [master]
GO
/****** Object:  Database [[1.2]]Lazarev] ******/
CREATE DATABASE [[1.2]]Lazarev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'[1.2]Lazarev', FILENAME = N'C:\Users\user\[1.2]Lazarev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'[1.2]Lazarev_log', FILENAME = N'C:\Users\user\[1.2]Lazarev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [[1.2]]Lazarev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [[1.2]]Lazarev]
GO
USE [[1.2]]Lazarev]
GO
/****** Object:  Table [dbo].[Person] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Sex] [nchar](1) NOT NULL,
	[BirthDate] [date] NULL,
	[Age] [tinyint] NULL,
	[IsAdult] [bit] NULL,
	[Balance] [decimal](18, 5) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Name], [Surname], [Sex], [BirthDate], [Age], [IsAdult], [Balance]) VALUES (1, N'John', N'Doe', N'm', CAST(N'1990-01-01' AS Date), 30, 1, CAST(4042.05000 AS Decimal(18, 5)))
INSERT [dbo].[Person] ([Id], [Name], [Surname], [Sex], [BirthDate], [Age], [IsAdult], [Balance]) VALUES (2, N'Jane', N'Doe', N'f', CAST(N'1988-04-04' AS Date), 32, 1, CAST(6032.11000 AS Decimal(18, 5)))
INSERT [dbo].[Person] ([Id], [Name], [Surname], [Sex], [BirthDate], [Age], [IsAdult], [Balance]) VALUES (3, N'Bob', N'Johnson', N'm', CAST(N'2008-03-03' AS Date), 12, 0, NULL)
SET IDENTITY_INSERT [dbo].[Person] OFF
USE [master]
GO
