<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logFilePath" value="${basedir}\logs\nlog-all-${shortdate}.log"/>

  <targets>
    <target xsi:type="AsyncWrapper" name="asyncFile">
      <target name="logfile"
                xsi:type="File"
                fileName="${logFilePath}"
                layout="${longdate}   LEVEL=${level:upperCase=true}: ${message}${newline} (${stacktrace}) ${exception:format=tostring}"
                keepFileOpen="true" />
    </target>
  </targets>
  
  <rules>
    <!-- Add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
  </rules>
</nlog>